
        <div class="sidebar">
            <a href="dashboard">Home</a>
            <a href="menu">View Menu</a>
            <a href="newOrder">New Order</a>
            <a href="orderHistory">View Order History</a>
        </div>
