
        <div class="sidebar">
            <a href="/dashboard">Home</a>
            <a href="/viewSalesReport">View Sales Report</a>
            <a href="#">View Inventory Report</a>
            <a href="/addNewDish">Add New Dish</a>
            <a href="/inventory">View Inventory</a>
            <a href="/viewPurchases">View Purchases</a>
            <a href="/orderHistory">View Order History</a>
            <a href="/menu">View Menu</a>
            <a href="/unitConverter">Add Unit Conversion</a>
        </div>