
        <div class="sidebar">
            <a href="/dashboard">Home</a>
            <a href="/inventory">View Inventory</a>
            <a href="/renderPurchase">Add Stock</a>
            <a href="/viewPurchases">View Purchases</a>
            <a href="/viewShrinkages">View Shrinkages</a>
            <a href="/viewInventoryReport">View Inventory Report</a>
            <a href="/unitConverter">Add Unit Conversion</a>
        </div>