
        <div class="sidebar">
            <a href="dashboard">Home</a>
            <a href="inventory">View Inventory</a>
            <a href="#">Add Stock</a>
            <a href="viewPurchases">View Purchases</a>
            <a href="#">View Shrinkages</a>
            <a href="#">View Inventory Report</a>
        </div>