
        <div class="sidebar">
            <a href="dashboard">Home</a>
            <a href="viewSalesReport">View Sales Report</a>
            <a href="#">View Inventory Report</a>
            <a href="#">Add New Dish</a>
            <a href="#">View Inventory</a>
            <a href="#">View Purchases</a>
            <a href="#">View Order History</a>
            <a href="#">View Menu</a>
            <a href="#">Add Unit Conversion</a>
        </div>