<!DOCTYPE html>
<html>
    <head>
        <title> Log In </title>
        <meta name="description" content="Log In">
        <meta name="keyword" content="Animo Tweet, Log In">
        <link rel="stylesheet" type="text/css" href="public/css/login.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="logo"><img src="../images/logo1.png" alt="Animo Tweet Logo" width="80" height="80"></div>
               <div class="login"><h1> LOG IN </h1></div>
            </div> 

            <div class="input">
                <form method ="post"> 
                    <label for="username"> Username </label>
                    <input type="text" id="username" name="username" placeholder="Username">
                    <br>
                    <label for="password"> Passsword </label>
                    <input type="password" id="password" name="password" placeholder="Password">
                    <br>
                    <input id="submit" type="submit" name="submit" value="Log In">
                </form>

                    <a href="/signup">Sign Up</a>
            </div>
        </div>
    </body>
</html>