<!DOCTYPE html>
<html>
    <head>
        <title> Cashier Dashboard </title>
        <meta name="description" content="Dashboard">
        <meta name="keyword" content="Dashboard">
        <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}

        <div class="dashboard-content">
            <h1 style="text-align: center;"> Welcome, {{name}}!</h1>

            <div class="options-format">
                <!-- CASHIER DASHBOARD --> 
                <div class="options">
                    <div class="column"><a href="menu" ><button type="button" id="dash-view-menu">View Menu</button></a></div>
                    <div class="column"><a href="newOrder" ><button type="button" id="dash-new-order">New Order</button></a></div>
                </div>
    
            </div>
        </div>

    </body>
</html>