<!DOCTYPE html>
<html>
    <head>
        <title> Dashboard </title>
        <meta name="description" content="Dashboard">
        <meta name="keyword" content="Dashboard">
        <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logout"> 
                <a href= "#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="dashboard-content">
            <h1 style="text-align: center;"> Welcome, {{name}}!</h1>

            <div class="options-format">
                <!-- CASHIER DASHBOARD  
                <div class="options">
                    <div class="column"><button type="button" id="dash-view-menu">View Menu</button></div>
                    <div class="column"><button type="button" id="dash-new-order">New Order</button></div>
                </div>  -->
    
                <!-- INVENTORY & PURCHASING DASHBOARD -->
                <div class="options">
                    <div class="column"><button type="button" value ="inventory">View Inventory</button></div>
                    <div class="column"><button type="button" value ="#" >Add Stock</button></div>
                    <div class="column"><button type="button" value ="#" >Update Manual Count</button></div>
                </div>
                <div class="options">
                    <div class="column"><button type="button" value ="#">View Inventory Report</button></div>
                    <div class="column"><button type="button" value ="#">View Shrinkages</button></div>
                    <div class="column"><button type="button" value="viewPurchases">View Purchases</button></div>

                </div>
    
                <!-- MANAGER DASHBOARD 
                <div class="options">
                    <div class="column"><button type="button" id="dash-view-sales-report">View Sales Report</button></div>
                    <div class="column"><button type="button" id="dash-view-inventory-report">View Inventory Report</button></div>
                    <div class="column"><button type="button" id="dash-add-new-dish">Add New Dish</button></div>
                </div>
                <div class="options">
                    <div class="column"><button type="button" id="dash-view-inventory">View Inventory</button></div>
                    <div class="column"><button type="button" id="dash-view-purchases">View Purchases</button></div>
                    <div class="column"><button type="button" id="dash-view-order-history">View Order History</button></div>
                </div>
                <div class="options">
                    <div class="column"><button type="button" id="dash-view-menu">View Menu</button></div>
                </div>-->
            </div>
        </div>

        <script> 
            $(document).ready(function() {

                $("button").click(function() {
                     //alert('clicked!');
                     location.href = $(this).val();
                });
            })
        </script>

    </body>
</html>