<!DOCTYPE html>
<html class="login-html">
    <head>
        <title> Log In </title>
        <meta name="description" content="Log In">
        <meta name="keyword" content="Log In">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../public/css/general.css">
    </head>
    <body>
        <div class="login-container">
            <h1 class="login-h1"> Welcome! </h1>
            <div>
                <form style="margin-left: 85px;"> 
                    <label for="username"> Username </label>
                    <br>
                    <input type="text" class="login-input" id="username" name="username">
                    <br>
                    <label for="password"> Passsword </label>
                    <br>
                    <input type="password" class="login-input" id="password" name="password" >
                    <br>
                    <p class="error" id="error-new-order"> error message here</p>
                    <input id="submit" class="btn-light-blue" style="margin-left: 75px; margin-top: 10px;" type="submit" name="submit" value="Log In">
                </form>
            </div>
            
        </div>
    </body>
</html>
