<!DOCTYPE html>
<html>
    <head>
        <title> Manager Dashboard </title>
        <meta name="description" content="Dashboard">
        <meta name="keyword" content="Dashboard">
        <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}

        <div class="dashboard-content">
            <h1 style="text-align: center;"> Welcome, {{name}}!</h1>

            <div class="options-format">
                <!-- CASHIER DASHBOARD  
                <div class="options">
                    <div class="column"><button type="button" id="dash-view-menu">View Menu</button></div>
                    <div class="column"><button type="button" id="dash-new-order">New Order</button></div>
                </div>  -->
    
                <!-- INVENTORY & PURCHASING DASHBOARD
                <div class="options">
                    <div class="column"><button type="button" value ="inventory">View Inventory</button></div>
                    <div class="column"><button type="button" value ="renderPurchase" >Add Stock</button></div>
                </div>
                <div class="options">
                    <div class="column"><button type="button" value ="viewInventoryReport">View Inventory Report</button></div>
                    <div class="column"><button type="button" value ="viewShrinkages">View Shrinkages</button></div>
                    <div class="column"><button type="button" value="viewPurchases">View Purchases</button></div>

                </div> -->
    
                <!-- MANAGER DASHBOARD -->
                <div class="options">
                    <div class="column"><button type="button" id="dash-view-sales-report">View Sales Report</button></div>
                    <div class="column"><button type="button" id="dash-view-inventory-report">View Inventory Report</button></div>
                    <div class="column"><button type="button" id="dash-add-new-dish">Add New Dish</button></div>
                </div>
                <div class="options">
                    <div class="column"><button type="button" id="dash-view-inventory">View Inventory</button></div>
                    <div class="column"><button type="button" id="dash-view-purchases">View Purchases</button></div>
                    <div class="column"><button type="button" id="dash-view-order-history">View Order History</button></div>
                </div>
                <div class="options">
                    <div class="column"><button type="button" id="dash-view-menu">View Menu</button></div>
                </div>
            </div>
        </div>

        <script> 
            $(document).ready(function() {

                $("button").click(function() {
                     //alert('clicked!');
                     location.href = $(this).val();
                });
            })
        </script>

    </body>
</html>