<!DOCTYPE html>
<html>
    <head>
        <title> New Order </title>
        <meta name="description" content="New Order">
        <meta name="keyword" content="New Order">
        <link rel="stylesheet" type="text/css" href="../public/css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logout"> 
                <a href= "#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">New Order</a>
            <a href="#">View Menu</a>
        </div>

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div style="width: 50%"><h1 style="margin-bottom: 0px;" class="bold color-blue" id="new-order-number">Order #1</h1></div>
                    <div class="div-btn-status">
                        <h3 class="margin-bottom-0" id="date-new-order">MM/DD/YYYY</h3>
                    </div>
                </div>
            </div>

            <hr>

            <div class="header-colored-bg">
                <h3 class ="bold header-text">Order Details</h3>
            </div>

            <div style="margin-top: 10px;"> 
                <input type="text" name="new-order-ID" id="new-order-ID" placeholder="ID" style="margin-right: 5px">
                <input type="number" name="new-order-quantity" id="new-order-quantity" placeholder="Quantity" style="margin-right: 10px">
                <input class="btn-add" type="button" id="btn-add-new-item" name="btn-add-new-item" value="+">
            </div>

            <p class="error" id="error-new-order"> error message here</p>

            <div class="div-table" style="margin-top: 10px;">
                <table class="table" id="table-view-dish-ingredients">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr>
                            <td>FCHIK</td>
                            <td>Fried Chicken</td>
                            <td>2</td>
                            <td>P 250.00</td>
                            <td>P 500.00</td>
                            <td><button class="delete-button"><img src="../public/images/delete-icon.png" height="20px" width="15x" alt="Delete" id= "new-invoice-delete-table-row-btn"></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class= "div-btn-right" style="margin-bottom: 10px;">
                <input type="number" name="new-order-discount" id="new-order-discount" placeholder="Discount">
            </div>

            <hr>

            <div class="summary-container">
                <div class="summary-text">Subtotal</div>
                <div class="summary-info-container"><div id="new-order-subtotal" class="summary-info">P 200.00</div></div>
            </div>
            <div class="summary-container">
                <div class="summary-text">VAT</div>
                <div class="summary-info-container"><div id="new-order-VAT" class="summary-info">P 200.00</div></div>
            </div>
            <div class="summary-container">    
                <div class="summary-text">Less: Discount</div>
                <div class="summary-info-container"><div id="new-order-less-discount" class="summary-info">P 200.00</div></div>
            </div>
            <div class="summary-container">
                <div class="summary-text">Total Due</div>
                <div class="summary-info-container"><div id="new-order-total-due"class="summary-info">P 200.00</div></div>
            </div>

            <div class="div-btn-right" style="margin-top: 20px;"><button class="btn-light-blue" id="btn-new-order-save">Save</button></div>
        </div>
    </body>
</html>