<!DOCTYPE html>
<html>
    <head>
        <title> New Order </title>
        <meta name="description" content="New Order">
        <meta name="keyword" content="New Order">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        {{> logoutPartial }}

        {{> cashierPartial }}

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold color-blue margin-bottom-0" id="new-order-number">New Order</h1></div>
                    <div class="div-btn-status">
                        <!--
                        <h3 class="margin-bottom-0" id="date-new-order">MM/DD/YYYY</h3>
                        -->
                    </div>
                </div>
            </div>

            <hr>

            <div class="header-colored-bg">
                <h3 class ="bold header-text">Order Details</h3>
            </div>


            <div style="margin-top: 10px;"> 
                <input type="text" name="dish-name" id="dish-name" placeholder="Dish Name" style="margin-right: 5px">
                <input type="number" name="dish-quantity" id="dish-quantity" placeholder="Quantity" min="0" style="margin-right: 10px">
                <input class="btn-add" type="button" id="btn-add-dish" name="btn-add" value="+">
            </div>

            <p class="error" id="error-dish"></p>
           

            <div class="div-table" style="margin-top: 10px;">
                <table class="table" id="table-view-dish">
                    <thead class="table-head table-sticky-header">

                        <tr> 
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody id="table-view-dish-body"> 

                    </tbody>
                </table>
            </div>

            <hr>
            
            <div class="summary-container">
                <div class="summary-text">Discount (%)</div>
                <div class="summary-info-container">
                    <input type="number" name="new-order-discount" id="new-order-discount" min="0" max="100" class="summary-info2" placeholder="Enter">
                </div>
            </div>

            <div class="summary-container">
                <div class="summary-text">Subtotal</div>
                <div class="summary-info-container"><div id="new-order-subtotal" class="summary-info">₱ 0</div></div>
            </div>
            <div class="summary-container">    
                <div class="summary-text">Less: Discount</div>
                <div class="summary-info-container"><div id="new-order-less-discount" class="summary-info">₱ 0</div></div>
            </div>
            <div class="summary-container">
                <div class="summary-text">VAT</div>
                <div class="summary-info-container"><div id="new-order-VAT" class="summary-info">₱ 0</div></div>
            </div>
            <div class="summary-container">
                <div class="summary-text">Total Due</div>
                <div class="summary-info-container"><div id="new-order-total-due"class="summary-info">₱ 0</div></div>
            </div>

            <div class="div-btn-right" style="margin-top: 20px;"><button class="btn-light-blue" id="btn-new-order-save">Save</button></div>
        </div>
        
        <script> 

            $(document).ready(function() {

                 $("#dish-name").autocomplete({
                    source:function(request, response) {
                    $.ajax({
                                url: `/getDishName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                },
                                success: function (data) {
                                    response(data);
                                }
                         });
                    }
                });

                /*function dishQuantityValidation(dishQty) { 
                    if (dishQty == null || dishQty == "") {
                        errorMessage("dishQty");
                        return 1;
                    } 
                    else 
                        return 0;
                }

                function dishNameValidation(dishName) {
                    if (dishName == null || dishName == "") {
                        errorMessage("dishName");
                        return 1;
                    }
                    else    
                        return 0;
                }

                
                function errorMessage(type) {
                    if (type == "dishName") {
                        $("#new-dish-name").css("border", "1px solid #B00000");
                        $("#error-new-dish-name").text("Please enter a Dish Name.");
                    } 

                    else if (type == "dishQty") {
                        $("#new-dish-ingredients-quantity").css("border", "1px solid #B00000");
                        $("#error-ingredients").text("Please enter the Dish Quantity.");
                    }
                }*/

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                function canOrder(dishName, quantity) {
                    $.get('/checkIngredientQuantity', {dishName, quantity}, function (result) {
                        //returns true is there is enough ingredinents and false otherwise
                        var canMake = result
                    }) 
                    return (canMake)
                }


                $('#btn-add-dish').click(function() {
                    var dishName = capitalize($('#dish-name').val());
                    var quantity = $('#dish-quantity').val();

                    //checks if there is enough ingredients to make dish
                    $.get('/checkIngredientQuantity', {dishName, quantity}, function (result) {
                        //returns true is there is enough ingredinents and false otherwise
                        if (result) {
                            $.get('/getDishPrice', {dishName:dishName}, function (result) {
                            //stockID was found in DB
                            if (result!="") {
                                    $('#error-dish').text("");
                                    var unitPrice = result.dishPrice
                                    var total = quantity*result.dishPrice;

                                    $('#table-view-dish').append (
                                    `<tr>
                                        <td class="dishName">${dishName}</td>
                                        <td class="quantity">${quantity}</td>
                                        <td class-"unitPrice">${unitPrice}</td>
                                        <td class="total">${total}</td>
                                        <td><button class="delete-button add-stock-delete-button"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button></td>
                                    </tr>`);

                                    $('#dish-name').val(''); 
                                    $('#dish-quantity').val('');    
                                    $('#btn-new-order-save').prop('disabled', false);
                                    $("#btn-new-order-save").css("background-color", "#0F84D9");

                                    var discountPercent = $('#new-order-discount').val();
                                    var discountAmount = 0;

                                    var overallTotal = parseInt($('#new-order-total-due').text().slice(1)) + total;
                                    var subTotal = (overallTotal/1.12);

                                    //there is discount
                                    if (discountPercent!="") {
                                        var discountPercentInt = parseInt($('#new-order-discount').val());
                                        discountAmount = subTotal - (subTotal*(discountPercent/100));
                                    }


                                    var vat = overallTotal - subTotal - discountAmount;
                                    overallTotal -= discountAmount;

                                    $('#new-order-subtotal').text("₱ " + subTotal.toFixed(2));
                                    $('#new-order-VAT').text("₱ " + vat.toFixed(2));
                                    $('#new-order-less-discount').text("₱ " + discountAmount.toFixed(2));
                                    $('#new-order-total-due').text("₱ " + overallTotal.toFixed(2));
                                }
                                //dish db not found, ask to change input
                                else                        
                                    $('#error-dish').text("Dish does not exist");
                            })
                    }
                    else
                        $('#error-dish').text("Not enough ingredients to make dish")
                });
            })
                    

                $('#new-order-discount').keyup(function() {
                    var overallTotal =0
                    $("#table-view-dish-body > tr").each(function () {
                        overallTotal += parseInt ($(this).children('.total').text())
                    })

                    if ($('#new-order-less-discount').text() != "")
                        overallTotal -= parseInt($('#new-order-less-discount').text().slice(1))

                    var subTotal = (overallTotal/1.12);

                    var vat = overallTotal - subTotal;

                    var discountPercent = $('#new-order-discount').val();
                    var discountAmount = 0;

                    //discount is not empty
                    if (discountPercent != "") {
                        var discountPercentInt = parseInt(discountPercent);
                        discountAmount = subTotal*(discountPercentInt/100);

                        var net = subTotal - discountAmount
                        overallTotal -= discountAmount;
                        vat = overallTotal - net;

                        

                        $('#new-order-subtotal').text("₱ " + subTotal.toFixed(2));
                        $('#new-order-VAT').text("₱ " + vat.toFixed(2));
                        $('#new-order-less-discount').text("₱ " + discountAmount.toFixed(2));
                        $('#new-order-total-due').text("₱ " + overallTotal.toFixed(2));
                    }
                    else
                    {
                        $('#new-order-subtotal').text("₱ " + subTotal.toFixed(2));
                        $('#new-order-VAT').text("₱ " + vat.toFixed(2));
                        $('#new-order-less-discount').text("₱ 0");
                        $('#new-order-total-due').text("₱ " + overallTotal.toFixed(2));
                    }
                })


                $('#btn-new-order-save').click(function() {
                    var orderedDishes = [];
                   
                   $("#table-view-dish-body > tr").each(function () {
                        var dish= {
                            dishName: $(this).children('.dishName').text(),
                            quantity: $(this).children('.quantity').text(),
                            salesID: 0
                        }
                        orderedDishes.push(dish);
                    });

                   var dishString = JSON.stringify(orderedDishes);
                   var total = $('#new-order-total-due').text().slice(1);
                   var vat =  $('#new-order-VAT').text().slice(1);
                   var discount = $("#new-order-less-discount").text().slice(1);
                   $.post('/saveSale', {dishString, vat, discount, total});

                   $("#table-view-dish-body tr").remove();
                   $('#new-order-total-due').text('₱ 0');
                   $('#new-order-subtotal').text('₱ 0');
                   $('#new-order-less-discount').text("₱ 0");
                   $('#new-order-VAT').text('₱ 0');
                   $('#btn-new-order-save').prop('disabled', true);
                })                  
           })
            
        </script>
    </body>
</html>