<!DOCTYPE html>
<html>
    <head>
        <title> View Order History </title>
        <meta name="description" content="View Order History">
        <meta name="keyword" content="View Order History">
        <link rel="stylesheet" type="text/css" href="../public/css/general.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logout"> 
                <a href= "#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Option 1</a>
            <a href="#">Option 2</a>
            <a href="#">Option 3</a>
        </div>

        <div class="content">
            <h1 class="bold color-blue">Order History</h1>

            <div class="div-search">
                <input type="search" placeholder="Search" name="search" class="search-field" id="view-order-history-search-field">
                <button type="submit" style="height: 34px" id="view-order-history-search-button"><i class="fa fa-search" ></i></button>
            </div>

            <div class="div-dates">
                <label class="date-label" for="start-date-order-history;">Start Date</label>
                <input style="height: 34px" type="date" id="start-date-order-history" name="start-date-order-history">
                <label class= "date-label" style="margin-left: 10px;" for="end-date-order-history">End Date</label>
                <input style="height: 34px" type="date" id="end-date-order-history" name="end-date-order-history">
                <button type="submit" style="height: 34px; margin-left: 10px" id="view-order-history-date-button"><i class="fa fa-search"></i></button>
            </div>

            <br>

            <!-- make rows clickable -->
            <div class="div-table" style= "margin-top: 30px; height: 500px">
                <table class="table" id="table-view-order-history">
                    <thead class="table-head table-sticky-header">
                        <tr>
                            <th>Date</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr>
                            <td>COIL</td>
                            <td>Canola Oil</td>
                            <td>1</td>
                            <td>Cup</td>
                        </tr>
                        <tr>
                            <td>CHIK</td>
                            <td>Chicken</td>
                            <td>500</td>
                            <td>Grams</td>
                        </tr>
                        <tr>
                            <td>AFLR</td>
                            <td>All Purpose Flour</td>
                            <td>1</td>
                            <td>Cup</td>
                        </tr>
                        <tr>
                            <td>SLT</td>
                            <td>Salt</td>
                            <td>1</td>
                            <td>Tablespoon</td>
                        </tr>
                        <tr>
                            <td>COIL</td>
                            <td>Canola Oil</td>
                            <td>1</td>
                            <td>Cup</td>
                        </tr>
                        <tr>
                            <td>CHIK</td>
                            <td>Chicken</td>
                            <td>500</td>
                            <td>Grams</td>
                        </tr>
                        <tr>
                            <td>AFLR</td>
                            <td>All Purpose Flour</td>
                            <td>1</td>
                            <td>Cup</td>
                        </tr>
                        <tr>
                            <td>SLT</td>
                            <td>Salt</td>
                            <td>1</td>
                            <td>Tablespoon</td>
                        </tr>
                        <tr>
                            <td>AFLR</td>
                            <td>All Purpose Flour</td>
                            <td>1</td>
                            <td>Cup</td>
                        </tr>
                        <tr>
                            <td>SLT</td>
                            <td>Salt</td>
                            <td>1</td>
                            <td>Tablespoon</td>
                        </tr>
                        <tr>
                            <td>SLT</td>
                            <td>Salt</td>
                            <td>1</td>
                            <td>Tablespoon</td>
                        </tr>
                        <tr>
                            <td>SLT</td>
                            <td>Salt</td>
                            <td>1</td>
                            <td>Tablespoon</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="summary-total-container" style= "margin-top: 10px;">    
                <div class="summary-total-text">Total</div>
                <div class="summary-info-container"><div id="view-purchases-total" class="summary-total-info">P 200.00</div></div>
            </div>
        </div>
    </body>
</html>