@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* NAVBAR */
#navbar {
    position: fixed;
    top: 0px;
    height: 90px;
    width: 100%;
    background-color: #2F5D62;
    display: flex;
    align-items: center;
    z-index: 1;
}

.navbar-logout {
    width: 100%;
    display: flex; 
    justify-content: flex-end; 
    padding-right: 20px;
}

/* SIDEBAR */
.sidebar {
    top: 90px;
    width: 200px;
    background-color: #F6F6F6;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Lato', sans-serif;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
  
.sidebar a:hover {
    background-color: #555;
    color: white;
}

/* CONTENT */
.content {
    margin-top: 90px;
    margin-left: 200px;
    padding: 10px 50px 0px 50px;
    font-family: 'Lato', sans-serif;
}

/* TABLE */
.div-table {
    overflow-y: auto; 
}

.table-height-185 {
    height: 185px;
}

.table-height-300{
    height: 300px;
}

.table-head {
    background-color: #2F5D62; 
    color: white; 
    width: inherit;
}

.table-sticky-header {
    position: sticky; 
    top: 0;
}

.delete-button {
    background-color: white; 
    border: 0px;
}
.delete-button img:hover {
    background-color: rgb(247, 121, 121);
    color: white;
}

/* FONT */
.bold {
    font-weight: bold;
}

.color-blue {
    color: #2F5D62; 
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

/* BUTTONS */
.btn-light-blue {
    background-color: #0F84D9;
    width: 150px;
    border-radius: 5px;
    color: white;
    border:  #0F84D9;
    height: 30px;
}

.div-btn-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#div-view-dish-edit-details {
    /*visibility: hidden;*/
}

#div-view-dish-edit-ingredients {
    /*visibility: hidden;*/
}

.btn-add {
    width: 34px; 
    background-color: #0F84D9; 
    border: #0F84D9; 
    border-radius: 7px; 
    color: white;
}

/* STATUS BUTTON */
.btn-status {
    background-color: #30b357;
    width: 150px;
    border-radius: 5px;
    color: white;
    border:  #30b357;
    height: 30px;
}

.div-btn-status {
    width: 50%; 
    float: left; 
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end;
}

/* LABEL */
.label-container {
    height: 40px; 
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
 
.override-label {
    padding-left: 10px;
    float: left;
    background-color: #F8F5F1; 
    height: 100%; 
    width: 30%;
    display: flex;
    align-items: center;
}

.label-content {
    padding-left: 10px;
    float: left;
    background-color: #f8f5f180; 
    height: 100%; 
    width: 70%;
    display: flex;
    align-items: center;
}

/* HEADER */
.header-colored-bg {
    width: 100%; 
    background-color: #2F5D62; 
    display: flex; 
    align-items: center;
}

.header-text {
    color: white; 
    margin: 5px
}

/* INPUT */
input {
    width: 150px;
    height: 34px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 4px;
}

#error {
    margin: 0;
    padding: 0;
    color: #B00000;
    font-weight: 700;
}

/* SUMMARY */
.summary-container {
    height: 30px;  
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
}

.summary-text {
    width: 80%; 
    float: left; 
    text-align: end;
}

.summary-info-container {
    width: 20%; 
    float: left; 
    display: flex; 
    justify-content:flex-end;
}

.summary-info {
    background-color: #dad8d8; 
    width: 150px; 
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* SEARCH */
.div-search {
    width: 50%; 
    float: left;
}

.search-field {
    height: 34px;
    width: 400px;
}

/* DATES */
.div-dates {
    width: 50%; 
    float: left; 
    display: flex; 
    justify-content: flex-end;
}

.date-label {
    margin-top: auto; 
    margin-right: 7px
}